# Ignore sensitive files
.idea/
.vscode/
*.env
node_modules/
.npmrc
.babelrc
*.log
.DS_Store
*.swp
*.swo
*.DS_Store
*.sublime-project
*.sublime-workspace
*.sln
*.suo
*.user
*.userprefs
*.vscode
*.sln.docstates
*.user
*.suo
*.ncr
*.nproj
*.vssettings
*.vssscc
*.vsp
*.vspdb
*.ncr
*.nproj
*.suo
*.vcxproj.filters
*.cache
*.bin
*.cache
*.log


